<!doctype html>
<html lang="en">
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <h2>Davis's donut app</h2>
    <a href="/game">Play the game!</a><br>
    <a href="/stats">Page Stats</a>
  </body>
</html>
