body {
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  background: #e0003b;
}

.wrapper {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  margin: 3% 15%;
  position: relative;
}

.banner {
  background: #fff;
  position: relative;
}

input[type=text] {
    width: 30%;
    padding: 1% 2%;
    margin: 1% 0;
    box-sizing: border-box;
}


.canvasSize canvas{
  height: 500px;
  width: 500px;
}

.list {
  border: #e0003b solid 3px;
  background: white;
  width: 200px;
  height: 350px;
  margin-left: 70%;
  margin-right: 10%;
  font-weight: bolder;
}
.note {
  width: 200px;
  height: 100px;
  margin-left: 70%;
  margin-right: 10%;
  font-weight: thin;
  font-size: 11px;
}

.textbox{
  position: relative;
  text-align: left;
  width: 100%;
  margin: 10px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
.button1 {background-color: rgb(220,20,60);}
.button2 {background-color: #FF4500;}
.button3 {background-color: #FFD700;}
.button4 {background-color: #228B22;}
.button5 {background-color: #4169E1;}
.button6 {background-color: #483D8B;}
.button7 {background-color: #DB7093;}

button:hover {
  border: 1px solid #e0003b;
  color: #e0003b;
}
