<!doctype html>
<html>
<head>
  <title>Random RPG Town</title>
  <link rel="stylesheet" href={{ url_for('static', filename='indexStyle.css')}}>

  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway"
        rel="stylesheet">
</head>

<body>
    <img src={{ url_for('static', filename='background.jpg')}} id="backgroundImg">
  <audio autoplay loop>
      <source src={{ url_for('static', filename='music/fantasy_town.mp3')}} hidden="true">
  </audio>

  <div id="navigation">
    <li><a href="index.html" class = "sliding">Character Stats</a></li>
    <li><a href="town.html" class = "sliding">Town</a></li>
    <li><a href="fight.html" class = "sliding">Fight!</a></li>
  </div>
<div id = 'merchImgCont'>
  <img src={{ url_for('static', filename='merchant.png')}} id="merchantImg" height = 300px>
</div>
  <div id = 'buyingTable'>
    <table id = 'marketTable'>
      <tr>
        <th>Item Name   </th>
        <th>Price   </th>
        <th>Buy   </th>
      </tr>
      <tr>
        <td class="itemName">
            Potion
        </td>
        <td class="price">
            20
        </td>
        <td class="click">
          <button id="buyPotion" >buy</button>
        </td>
      </tr>

      <tr>
        <td class="itemName">
            Novice Wizard Hat
        </td>
        <td class="price">
            100
        </td>
        <td class="click">
          <button id="buyNoviceHat" >buy</button>
        </td>
      </tr>

      <tr>
        <td class="itemName">
            Eye of Beholder
        </td>
        <td class="price">
            500
        </td>
        <td class="click">
          <button id="buyEyeHat" >buy</button>
        </td>
      </tr>

      <tr>
        <td class="itemName">
            Novice Staff
        </td>
        <td class="price">
            200
        </td>
        <td class="click">
          <button id="buyNoviceStaff" >buy</button>
        </td>
      </tr>

      <tr>
        <td class="itemName">
            Wizard Staff
        </td>
        <td class="price">
            500
        </td>
        <td class="click">
          <button id="buyWizardStaff" >buy</button>
        </td>
      </tr>

    </table>
  </div>

  <div id = 'inventory' class = 'scrollable'>
    <table id = 'inventoryTable'>
      <tr>
        <th>Item Name   </th>

      </tr>
    </table>
  </div>

  <div id = 'goldInfo'>
    <span>Gold: </span>
    <span id="gold">0</span>
  </div>
  <script src={{ url_for('static', filename='market.js')}} type="text/javascript"></script>
</body>

<script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% block body %}{% endblock %}
